.DS_Store
Thumbs.db

node_modules/
**/node_modules/
apps/web/build/
apps/web/.svelte-kit/
apps/web/package/

.env
.env.*
!.env.example
*.local

cloud-worker/.dev.vars
cloud-worker/.wrangler/
cloud-worker/wrangler.toml

.vscode/*
!.vscode/settings.json
